Импортировал библиотеку и открыл датафрейм

In [9]:
import pandas as pd
import numpy as np
df = pd.read_csv(r"C:\Users\ktulu\OneDrive\Документы\ML - лабы\data\Dataset1.csv")

df.head(10)

,color,Director_Name,num_Critic_for_reviews,duration,director_Facebook_likes,actor_3_Facebook_likes,actor_2_name,Actor_1_Facebook_likes,gross,genres,...,num_user_for_reviews,language,country,content_rating,budget,title_year,actor_2_facebook_likes,imdb_score,aspect_ratio,movie_facebook_likes;
0,Color,James Cameron,723.0,178.0,0.0,855.0,Joel David Moore,1000.0,760505847.0,Action|Adventure|Fantasy|Sci-Fi,...,3054.0,English,USA,PG-13,237000000.0,2009.0,936.0,7.9,1.78,33000;
1,Colour,Gore Verbinski,302.0,169.0,563.0,1000.0,Orlando Bloom,40000.0,309404152.0,Action|Adventure|Fantasy,...,1238.0,English,USA,PG-13,300000000.0,2007.0,5000.0,7.1,2.35,0;
2,Colour,Sam Mendes,602.0,148.0,0.0,161.0,Rory Kinnear,11000.0,200074175.0,Action|Adventure|Thriller,...,994.0,English,UK,PG-13,245000000.0,2015.0,393.0,6.8,2.35,85000;
3,Color,Christopher Nolan,813.0,164.0,22000.0,23000.0,Christian Bale,27000.0,448130642.0,Action|Thriller,...,2701.0,English,USA,PG-13,250000000.0,2012.0,23000.0,8.5,2.35,164000;
4,NaN,Doug Walker,NaN,NaN,131.0,NaN,Rob Walker,131.0,NaN,Documentary,...,NaN,NaN,NaN,NaN,NaN,NaN,12.0,7.1,NaN,0;
5,Colour,Andrew Stanton,462.0,132.0,475.0,530.0,Samantha Morton,640.0,73058679.0,Action|Adventure|Sci-Fi,...,738.0,English,USA,PG-13,263700000.0,2012.0,632.0,6.6,2.35,24000;
6,Color,Sam Raimi,392.0,156.0,0.0,4000.0,James Franco,24000.0,336530303.0,Action|Adventure|Romance,...,1902.0,English,USA,PG-13,258000000.0,2007.0,11000.0,6.2,2.35,0;
7,Color,Nathan Greno,324.0,100.0,15.0,284.0,Donna Murphy,799.0,200807262.0,Adventure|Animation|Comedy|Family|Fantasy|Musi...,...,387.0,English,USA,PG,260000000.0,2010.0,553.0,7.8,1.85,29000;
8,Colour,Joss Whedon,635.0,141.0,0.0,19000.0,Robert Downey Jr.,26000.0,458991599.0,Action|Adventure|Sci-Fi,...,1117.0,English,USA,PG-13,250000000.0,2015.0,21000.0,7.5,2.35,118000;
9,Colour,David Yates,375.0,153.0,282.0,10000.0,Daniel Radcliffe,25000.0,301956980.0,Adventure|Family|Fantasy|Mystery,...,973.0,English,UK,PG,250000000.0,2009.0,11000.0,7.5,2.35,10000;

Просмотрел ключи и привел их к стандартному виду

In [10]:
df = df.rename(
    columns= {
        "Director_Name" : 'director_name',
        'num_Critic_for_reviews' : 'num_critic_for_reviews',
        'director_Facebook_likes' : 'director_facebook_likes',
        'actor_3_Facebook_likes' : 'actor_3_facebook_likes',
        'Actor_1_Facebook_likes' : 'actor_1_facebook_likes',
        'movie_Title' : 'movie_title',
        ' cast_total_facebook_likes' : 'cast_total_facebook_likes',
        'movie_facebook_likes;': 'movie_facebook_likes'
    }
)
df.columns

Index(['color', 'director_name', 'num_critic_for_reviews', 'duration',
       'director_facebook_likes', 'actor_3_facebook_likes', 'actor_2_name',
       'actor_1_facebook_likes', 'gross', 'genres', 'actor_1_name',
       'movie_title', 'num_voted_users', 'cast_total_facebook_likes',
       'actor_3_name', 'facenumber_in_poster', 'plot_keywords',
       'movie_imdb_link', 'num_user_for_reviews', 'language', 'country',
       'content_rating', 'budget', 'title_year', 'actor_2_facebook_likes',
       'imdb_score', 'aspect_ratio', 'movie_facebook_likes'],
      dtype='object')

Удалил дубликаты

In [11]:
df = df.drop_duplicates().reset_index(drop=True)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4998 entries, 0 to 4997
Data columns (total 28 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   color                      4980 non-null   object
 1   director_name              4829 non-null   object
 2   num_critic_for_reviews     4884 non-null   float64
 3   duration                   4915 non-null   float64
 4   director_facebook_likes    4829 non-null   float64
 5   actor_3_facebook_likes     4909 non-null   float64
 6   actor_2_name               4919 non-null   object
 7   actor_1_facebook_likes     4924 non-null   float64
 8   gross                      4070 non-null   float64
 9   genres                     4930 non-null   object
 10  actor_1_name               4924 non-null   object
 11  movie_title                4930 non-null   object
 12  num_voted_users            4930 non-null   float64
 13  cast_total_facebook_likes  4930 non-null   float64
 14  actor_3_name               4909 non-null   object
 15  facenumber_in_poster       4917 non-null   float64
 16  plot_keywords              4784 non-null   object
 17  movie_imdb_link            4930 non-null   object
 18  num_user_for_reviews       4912 non-null   float64
 19  language                   4917 non-null   object
 20  country                    4927 non-null   object
 21  content_rating             4635 non-null   object
 22  budget                     4454 non-null   float64
 23  title_year                 4826 non-null   float64
 24  actor_2_facebook_likes     4919 non-null   float64
 25  imdb_score                 4930 non-null   float64
 26  aspect_ratio               4612 non-null   float64
 27  movie_facebook_likes       4930 non-null   object
dtypes: float64(15), object(13)
memory usage: 1.1+ MB

Замена всех категориальных пустых данных 'unknow'

In [12]:
columns_to_replace =['country', 'color', 'director_name', 'movie_imdb_link',
                    'actor_2_name', 'genres', 'actor_1_name',
                    'actor_3_name', 'plot_keywords', 'language',
                    'content_rating'
                    ]

for row in columns_to_replace:
    df[row] = df[row].fillna('unknown')

columns_to_replace = df.keys().difference(columns_to_replace)

for row in columns_to_replace:
    df[row] = df[row].fillna(0)

df.isna().sum()

color                        0
director_name                0
num_critic_for_reviews       0
duration                     0
director_facebook_likes      0
actor_3_facebook_likes       0
actor_2_name                 0
actor_1_facebook_likes       0
gross                        0
genres                       0
actor_1_name                 0
movie_title                  0
num_voted_users              0
cast_total_facebook_likes    0
actor_3_name                 0
facenumber_in_poster         0
plot_keywords                0
movie_imdb_link              0
num_user_for_reviews         0
language                     0
country                      0
content_rating               0
budget                       0
title_year                   0
actor_2_facebook_likes       0
imdb_score                   0
aspect_ratio                 0
movie_facebook_likes         0
dtype: int64

Перерасчитаем деньги на актульаное время с учетом инфляции с 1913 по 2017

In [13]:
from bs4 import BeautifulSoup
import requests


def get_real_value(nominal_amt, old_cpi, new_cpi):
    real_value = (nominal_amt * new_cpi) / old_cpi
    return real_value

url = "https://www.usinflationcalculator.com/inflation/consumer-price-index-and-annual-percent-changes-from-1913-to-2008/"

r = requests.get(url)
data = r.text
soup = BeautifulSoup(data, 'html.parser')

table = soup.find('table')
rows = table.tbody.findAll('tr')

years = []
cpis = []

for row in rows:
    year = row.findAll('td')[0].get_text()
    if year.isdigit() and int(year) < 2017:
        years.append(int(year))
        cpis.append(float(row.findAll('td')[13].get_text()))
        
cpi_table = pd.DataFrame ({
    'year' : years,
    'avg_annual_cpi': cpis
})

CPI_2016 = float(cpi_table[cpi_table['year'] == 2016]['avg_annual_cpi'].iloc[0])

real_domestic_gross = []
real_budget_values = []

for index, row in df.iterrows():
    gross = row['gross']
    budget = row['budget']
    year = row['title_year']
    if year == 0:
        real_domestic_gross.append(gross)
        real_budget_values.append(budget)
        continue
    cpi = float(cpi_table[cpi_table['year'] == int(year)]['avg_annual_cpi'].iloc[0])
    
    real_gross = get_real_value(gross, cpi, CPI_2016)
    real_budget = get_real_value(budget, cpi, CPI_2016)
    real_domestic_gross.append(real_gross)
    real_budget_values.append(real_budget)

df['real_domestic_gross'] = real_domestic_gross
df['real_budget'] = real_budget_values

profits = []
roi_vals = []

for index, row in df.iterrows():
    if row['real_domestic_gross'] == 0 or row['real_budget'] == 0:
        profits.append(0)
        roi_vals.append(0)
        continue
    profit = row['real_domestic_gross'] - row['real_budget']
    budget = row['real_budget']
    num = profit - budget
    den = budget
    roi = (num / den) * 100
    profits.append(profit)
    roi_vals.append(roi)
    
df['profit'] = profits
df['roi'] = roi_vals
df.head()

,color,director_name,num_critic_for_reviews,duration,director_facebook_likes,actor_3_facebook_likes,actor_2_name,actor_1_facebook_likes,gross,genres,...,budget,title_year,actor_2_facebook_likes,imdb_score,aspect_ratio,movie_facebook_likes,real_domestic_gross,real_budget,profit,roi
0,Color,James Cameron,723.0,178.0,0.0,855.0,Joel David Moore,1000.0,760505847.0,Action|Adventure|Fantasy|Sci-Fi,...,237000000.0,2009.0,936.0,7.9,1.78,33000;,8.507937e+08,2.651368e+08,5.856569e+08,120.888543
1,Colour,Gore Verbinski,302.0,169.0,563.0,1000.0,Orlando Bloom,40000.0,309404152.0,Action|Adventure|Fantasy,...,300000000.0,2007.0,5000.0,7.1,2.35,0;,3.582208e+08,3.473329e+08,1.088790e+07,-96.865283
2,Colour,Sam Mendes,602.0,148.0,0.0,161.0,Rory Kinnear,11000.0,200074175.0,Action|Adventure|Thriller,...,245000000.0,2015.0,393.0,6.8,2.35,85000;,2.025981e+08,2.480907e+08,-4.549257e+07,-118.337071
3,Color,Christopher Nolan,813.0,164.0,22000.0,23000.0,Christian Bale,27000.0,448130642.0,Action|Thriller,...,250000000.0,2012.0,23000.0,8.5,2.35,164000;,4.684551e+08,2.613385e+08,2.071167e+08,-20.747743
4,unknown,Doug Walker,0.0,0.0,131.0,0.0,Rob Walker,131.0,0.0,Documentary,...,0.0,0.0,12.0,7.1,0.00,0;,0.000000e+00,0.000000e+00,0.000000e+00,0.000000

ГИПОТЕЗА 1: США потратила фильмы больше всего денег из всех стран.

Чтобы это проверить нужно сделать выборку по стране и потраченному бюджету и вывести первые топ 5 стран и посмотреть, если в них США и какое место оно там занимает.

Для этого получим список всех стран.

In [14]:
countrys = df['country'].unique()
countrys

array(['USA', 'UK', 'unknown', 'New Zealand', 'Canada', 'Australia',
       'Belgium', 'Japan', 'Germany', 'China', 'France', 'New Line',
       'Mexico', 'Spain', 'Hong Kong', 'Czech Republic', 'India',
       'Soviet Union', 'South Korea', 'Peru', 'Italy', 'Russia', 'Aruba',
       'Denmark', 'Libya', 'Ireland', 'South Africa', 'Iceland',
       'Switzerland', 'Romania', 'West Germany', 'Chile', 'Netherlands',
       'Hungary', 'Panama', 'Greece', 'Sweden', 'Norway', 'Official site',
       'Cambodia', 'Taiwan', 'Thailand', 'Slovakia', 'Bulgaria', 'Iran',
       'Poland', 'Georgia', 'Turkey', 'Nigeria', 'Brazil', 'Finland',
       'Bahamas', 'Argentina', 'Colombia', 'Israel', 'Egypt',
       'Kyrgyzstan', 'Indonesia', 'Pakistan', 'Slovenia', 'Afghanistan',
       'Dominican Republic', 'Cameroon', 'United Arab Emirates', 'Kenya',
       'Philippines'], dtype=object)

Напишем функцию, что принимает на вход имя страны, пробегает в цикле по dataframe и на выходе получает суммарный бюджет, который был потрачен страной за все время на создания фильмов.

In [15]:

def budget_country_for_movies(name_country):
    budget_country = df.loc[df['country'] == name_country, ['real_budget']]
    sum_budget= 0
    for index, real_money in budget_country.iterrows():
        sum_budget += float(real_money.iloc[0])
    return sum_budget

Далее создаем словарь, в котором ключами будут являться страны, а значениям - рельтатат функции budget_country_for_movies. Затем преобразуем полученный словарь в dataframe и отсортируем по убыванию.

In [16]:

country_sum_budget = {}
for index_countrys in range(len(countrys)):
    country_sum_budget[countrys[index_countrys]] = budget_country_for_movies(countrys[index_countrys])
    

top5_bigger_country_budget = pd.DataFrame.from_dict(country_sum_budget, orient='index', columns=['budget'])['budget'].sort_values(ascending=False)
top5_bigger_country_budget

USA            1.576757e+11
South Korea    1.997989e+10
UK             1.419067e+10
Japan          1.057190e+10
France         5.180914e+09
                   ...
Kenya          1.520726e+04
Philippines    8.602401e+03
Cambodia       0.000000e+00
Slovakia       0.000000e+00
Cameroon       0.000000e+00
Name: budget, Length: 66, dtype: float64

Гипотеза подтвердилась - США является страной, что тратит на фильм больше всех денег.

ГИПОТЕЗА 2: Средняя оценка русских фильмов не превышает 7.

In [17]:
score_in_Russia = df.loc[df['country']=='Russia', ['movie_title','imdb_score']]['imdb_score'].mean()
score_in_Russia

6.081818181818181

ГИПОТЕЗА 3: Японские фильмы жанра комедии лучше кореских жанра драма

In [18]:
ganre_drama = []
ganre_comedy = []
genres = []
for row in df['genres']:
    if 'Comedy' in row and 'Drama' in row:
        ganre_comedy.append(1)
        ganre_drama.append(1)
        row = row.replace('Comedy', '')
        row = row.replace('Drama', '')
        genres.append(row)
    elif 'Comedy' in row and 'Drama' not in row:
        ganre_comedy.append(1)
        ganre_drama.append(0)
        genres.append(row.replace('Comedy', ''))
    elif 'Comedy' not in row and 'Drama' in row:
        ganre_comedy.append(0)
        ganre_drama.append(1)
        genres.append(row.replace('Drama', ''))
    elif 'Comedy' not in row and 'Drama' not in row:
        ganre_comedy.append(0)
        ganre_drama.append(0)
        genres.append(row)

df['genres'] = genres
df['Comedy'] = ganre_comedy
df['Drama'] = ganre_drama

Напишем функцию удаления ненужных вертикальных линий(чтобы было)

In [19]:
def delete_double_vertikal_line(parametrs):
    list = []
    for row in df[parametrs]:
        if '||' in row[:2]:
            list.append(row[1:])
        elif '||' in row[-2:]:
            list.append(row[:-1])
        elif '|' == row:
            list.append('')
        elif '|' in row[:1]:
            list.append(row[1:])
        else:
            list.append(row.replace('||', '|', 1))
    
    df[parametrs] = list

In [20]:
delete_double_vertikal_line('genres')
df

,color,director_name,num_critic_for_reviews,duration,director_facebook_likes,actor_3_facebook_likes,actor_2_name,actor_1_facebook_likes,gross,genres,...,actor_2_facebook_likes,imdb_score,aspect_ratio,movie_facebook_likes,real_domestic_gross,real_budget,profit,roi,Comedy,Drama
0,Color,James Cameron,723.0,178.0,0.0,855.0,Joel David Moore,1000.0,760505847.0,Action|Adventure|Fantasy|Sci-Fi,...,936.0,7.9,1.78,33000;,8.507937e+08,2.651368e+08,5.856569e+08,120.888543,0,0
1,Colour,Gore Verbinski,302.0,169.0,563.0,1000.0,Orlando Bloom,40000.0,309404152.0,Action|Adventure|Fantasy,...,5000.0,7.1,2.35,0;,3.582208e+08,3.473329e+08,1.088790e+07,-96.865283,0,0
2,Colour,Sam Mendes,602.0,148.0,0.0,161.0,Rory Kinnear,11000.0,200074175.0,Action|Adventure|Thriller,...,393.0,6.8,2.35,85000;,2.025981e+08,2.480907e+08,-4.549257e+07,-118.337071,0,0
3,Color,Christopher Nolan,813.0,164.0,22000.0,23000.0,Christian Bale,27000.0,448130642.0,Action|Thriller,...,23000.0,8.5,2.35,164000;,4.684551e+08,2.613385e+08,2.071167e+08,-20.747743,0,0
4,unknown,Doug Walker,0.0,0.0,131.0,0.0,Rob Walker,131.0,0.0,Documentary,...,12.0,7.1,0.00,0;,0.000000e+00,0.000000e+00,0.000000e+00,0.000000,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4993,Color,Scott Smith,1.0,87.0,2.0,318.0,Daphne Zuniga,637.0,0.0,,...,470.0,7.7,0.00,84;,0.000000e+00,0.000000e+00,0.000000e+00,0.000000,1,1
4994,Color,unknown,43.0,43.0,0.0,319.0,Valorie Curry,841.0,0.0,Crime|Mystery|Thriller,...,593.0,7.5,16.00,32000;,0.000000e+00,0.000000e+00,0.000000e+00,0.000000,0,1
4995,Color,Benjamin Roberds,13.0,76.0,0.0,0.0,Maxwell Moody,0.0,0.0,Horror|Thriller,...,0.0,6.3,0.00,16;,0.000000e+00,1.442368e+03,0.000000e+00,0.000000,0,1
4996,Color,Daniel Hsia,14.0,100.0,0.0,489.0,Daniel Henney,946.0,10443.0,|Romance,...,719.0,6.3,2.35,660;,1.091663e+04,0.000000e+00,0.000000e+00,0.000000,1,1
4997,Color,Jon Gunn,43.0,90.0,16.0,16.0,Brian Herzlinger,86.0,85222.0,Documentary,...,23.0,6.6,1.85,456;,1.082789e+05,1.397606e+03,1.068813e+05,7547.454545,0,0

In [21]:
table = df.pivot_table(values='imdb_score', index=['Drama', 'Comedy'], columns='country', aggfunc='mean')
table[['Japan', 'China']]

country          Japan     China
Drama Comedy
0     0       7.058333  6.642857
      1       5.633333  5.850000
1     0       7.333333  6.843750
      1       6.100000       NaN

Как можно заметить из таблицы - японские комедии не превосходят китайские драмы, но в тоже время японские драмы лучше китайских.

Отсюда следует, что русские фильмы обладают не таким уж и высоким рейтингом. В среднем ниже 7.

Заключение: США - страна, для которой киноиндустрия это не просто культура, но и значимия часть экономики. В России же таким сложно похвастаться, как минимум потому что более 70% всех фильмов  в dataframe из США, а российскиз чуть больше десятка, так ещё зрители и критики это не особо хорошо оченивают.